.App {
  text-align: center;
  margin-top: 50px;
}

input {
  margin: 0 20px;
}

input:focus {
  outline: none;
}

.delete {
  margin-left: 20px;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}
