
body {
  margin: 0;
  text-align: center;
}
.App {  
  width: 1024px;
  margin: 3rem auto;
  padding: 3rem 0;
  background-color: lightgray;


}

input {
  margin: 0 20px;
}

input:focus {
  outline: none;
}

.delete {
  margin-left: 20px;
}

ul {
margin: 0 auto;
  width: 60%;
  padding-top: 1rem;
  padding-inline-start: 0;
  text-align: left;
  
}

li {
  list-style-type: none;
  margin: 1rem auto;
  display: grid;
  padding-bottom: 10px;
  grid-template-columns: 60px auto 10rem;
  border-bottom: 1px solid gray;
}


.alert {
  padding: 15px;
  background-color: #f44336;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  width: 600px;
  margin: 20px auto;
}
